<!DOCTYPE html>
    <head>
        <title>Fun API Collection</title>
        <link rel="stylesheet" href="public/css/styles.css">
    </head>
    <body>
        <h1>
            Welcome to my fun API collection Mr. <%=name%>
        </h1>
        <label for="jokebutton">
            Click to see a random joke
        </label>
        <a name="jokebutton" href="/joke">Click here</a>
    </body>


</html>