<!DOCTYPE html>
    <head>
        <Title>
            Random Joke
        </Title>
    </head>
    <body>
        <h1>Here's a random <%=type%> joke for you</h1>
        <h5><%=joke%></h5>
        <a href="/darkjoke">Click for a dark joke</a><br>
        <a href="/progjoke">click here for a programming joke</a>
    </body>
</html>